<div class="container">

<form>

  <label>What round are you raising?
    <select>
      <option>Seed</option>
      <option>Series A</option>
      <option>Series B</option>
      <option>Series C</option>
      <option>Series D</option>
    </select>
  </label>

  <label>What time period?
    <select>
      <option>Last 3 Months</option>
      <option>Last 6 Months</option>
      <option>Last Year</option>
      <option>Last 2 Years</option>
      <option>All Time</option>
    </select>
  </label>

  <button class="btn btn-primary">Go!</button>

</form>

<table class="table">
  <tr>
    <th>Investor Name</th>
    <th>Number of Recent Investments</th>
    <th>Recent Investments</th>
    <th>Firm</th>
  </tr>
  <tr>
    <td>David Tisch</td>
    <td>10</td>
    <td>GroupMe, Barkbox, General Assembly</td>
    <td>Box Group</td>
  </tr>

</table>

</div>