<div class="container">
  <div class="text-center">
    
    <h1>Golddigger<h1>
    <h3>Find the most active investors.<h3>
    <br>

    <form>

      <label>What round are you raising?
        <select id="round">
          <option>All Stages</option>
          <option>Venture</option>
          <option>Seed</option>
          <option>Angel</option>
          <option>Unknown</option>
        </select>
      </label>

      <label>What time period?
        <select id="period">
          <option id="3">Last 3 Months</option>
          <option id="6">Last 6 Months</option>
          <option id="year">Last Year</option>
          <option id="2years">Last 2 Years</option>
          <option id="all">All Time</option>
        </select>
      </label>

      <button class="btn btn-primary">Go!</button>

    </form>

    <h4>
      <ul></ul>
    </h4>

  </div>
</div>