<div class="container">

<form>

  <label>What round are you raising?
    <select id="round">
      <option>All Stages</option>
      <option>Venture</option>
      <option>Seed</option>
      <option>Angel</option>
      <option>Unknown</option>
    </select>
  </label>

  <label>What time period?
    <select id="period">
      <option id="3">Last 3 Months</option>
      <option id="6">Last 6 Months</option>
      <option id="year">Last Year</option>
      <option id="2years">Last 2 Years</option>
      <option id="all">All Time</option>
    </select>
  </label>

  <button class="btn btn-primary">Go!</button>

</form>

<table class="table">
  <tr>
    <th>Investor Name</th>
    <th>Number of Recent Investments</th>
    <th>Recent Investments</th>
    <th>Firm</th>
  </tr>
  <tr>
    <td>David Tisch</td>
    <td>10</td>
    <td>GroupMe, Barkbox, General Assembly</td>
    <td>Box Group</td>
  </tr>

</table>

</div>